﻿@model IEnumerable<HelloWorld.Models.Article>



<div class="jumbotron">
    <h1 id="hello">Article <span id="fibs">Fibs</span></h1>
    <p class="lead text-success">
        Article Fibs is the place to look up news that isn't news. You'll find all of those bizzare and random
        stories here. You can even make your own! Ryans change!
    </p>
    
    
</div>

<div class="jumbotron" id="articles">
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>
                    @Html.ActionLink(item.Title, "ArticleView", new { id = item.Id }))
                </td>
            </tr>
        </table>
    }
</div>

<p>
        Total articles: @Model.Count()
        
</p>

@section Myscript{
    <script src="~/Scripts/Myscript.js"></script>}

